<div class="row list-groups">
  {% for content in data[1] %}
    <div class="col-md-4 mb-3">
      <div class="d-flex align-items-center p-2 h-100">
        <!-- Logo/Image on the left -->
        {% if content.image %}
          <img src="{{ '/assets/img/flags/' | append: content.image }}" alt="Logo" style="width: 40px; height: 40px; object-fit: contain; margin-right: 12px;">
        {% endif %}

        <!-- Text content on the right -->
        <div>
        <table class="table-cv list-group-table">
          <tbody>
            <tr>
              <!-- Calculate colspan number for category title -->
              {% assign i = 1 %}
              {% for item in content.items %}
                {% assign i = i | plus: 1 %}
              {% endfor %}
              <td class="list-group-category">{{ content.language }}</td>
            </tr>
            <tr>
              <td class="list-group-name">
                <b>{{ content.fluency }}</b>
              </td>
            </tr>
          </tbody>
        </table>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
